<div class="row">
	<aside class="span8">
		<section>
		  <h1>
		  	<div>Name: <%= @user.name %></div>
		  </h1>
          <p>
	        <div>E-mail: <%= @user.email %></div>
	        <div>Plan: <%= @user.plan %></div>
	      </p>
	    </section>
	</aside>
</div>