<!DOCTYPE html>
<html lang="en">
<head>
</head>
  <body>
    <table style="width:100%">
    	<tr>
    		<td>merchant_id</td>
    		<td>access_token</td>
    		<td>refresh_token</td>
    	</tr>
    <% @partner_merchants.each do |merchant| %>
      <tr>
      	<td><%= merchant.merchant_id %></td>
        <td><%= merchant.access_token %></td>
        <td><%= merchant.refresh_token %></td>
      </tr>
    <% end %>
  </body>
</html>
