<div class="row">
	<aside class="span8">
		<section>
		  <h1>
		  	<div>merchant_id: <%= @partner_merchant.merchant_id %></div>
		  </h1>
          <p>
	        <div>access_token: <%= @partner_merchant.access_token %></div>
	        <div>refresh_token: <%= @partner_merchant.refresh_token %></div>
	      </p>
	    </section>
	</aside>
</div>
