
  <div class="center hero-unit">
    <h1>Welcome to the Braintree Demo App</h1>

    <h2>
      This a web app to demo <a href="https://braintreepayments.com/">Braintree's</a> various integration paths


    </h2>
    <%= link_to "Braintre Auth", oauth_path, class: "btn btn-large btn-primary" %>
    <%= link_to "Recurring Billing", signup_path, class: "btn btn-large btn-primary" %>
  </div>
